<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>SpringBoot Sample3-1</title>
</head>

<body>
  <h1>Authorized! [[${login_user}]]</h1>
  <a href="/logout">ログアウト</a>

  <p>
    <a href="/keiji/step2">ログインユーザ名をGETで取得(Sample3-2)</a>
  </p>

  <p>
  <form action="/lec02" method="post">
    <input type="text" name="usercomment" />
    <input type="submit" value="書き込み">
  </form>
  </p>

  <p th:if="${comment}">
    Hi [[${comment}]]
  </p>





</body>

</html>
