<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>keiji</title>
  <link rel="stylesheet" href="/css/keiji.css">
</head>

<body>
  <a href="/logout">ログアウト</a><br>
  <a href="/thread">スレッド一覧に戻る</a><br>

  <p th:if="${thread}">
  <div th:each="thread,stat:${thread}">
    <form action="/keiji/update" method="post">
      <input type="hidden" name="num" th:value="${thread.threadNumber}">
      <input type="submit" value="更新">
    </form><br>
    <tr>
      [[${thread.threadNumber}]] [[${thread.user}]] [[${thread.title}]] [[${thread.date}]]
      [[${thread.good}]]
      <form action="/keiji/comment" method="post">
        <input type="hidden" name="num" th:value="${thread.threadNumber}">
        <input type="text" name="userComment" />
        <input type="submit" value="書き込み">
      </form>
    </tr>
  </div>
  </p>

  <p th:if="${comment}">
  <div th:each="comment,stat:${comment}">
    <br>
    <tr>
      [[${comment.number}]] [[${comment.user}]] [[${comment.userComment}]] [[${comment.date}]]
      [[${comment.good}]]
      <form action="/keiji/good" method="post">
        <input type="hidden" name="num" th:value="${comment.number}">
        <input type="submit" value="いいね">
      </form>
      ==================================================<br>
    </tr>
  </div>
  </p>

</body>

</html>
