<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>keiji</title>
  <link rel="stylesheet" href="/css/keiji.css">
</head>

<body>
  <h1>掲示板へようこそ! </h1>
  <a href="/logout">ログアウト</a>

  <p>
    <a href="/keiji/update">更新</a>
  </p>

  <tbody sec:authorize="hasRole('ROLE_ADMIN')">
    <p>
      <a href="/keiji/admin">管理者ページ</a>
    </p>
  </tbody>

  <p th:if="${comment}">
  <div th:each="comment,stat:${comment}">
    <tr>
      [[${comment.number}]] [[${comment.user}]] [[${comment.userComment}]]
      <form action="/keiji/good" method="post">
        <input type="text" name="userComment" />
        <input type="submit" value="いいね">
      </form><br>
      ==================================================<br>
    </tr>
  </div>
  </p>

  <p>
  <form action="/keiji/comment" method="post">
    <input type="text" name="userComment" />
    <input type="submit" value="書き込み">
  </form>
  </p>

</body>

</html>
