<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>modification</title>
</head>

<body>
  <h1>登録内容変更ページです </h1>

  <p>
    <a href="/logout">ログアウト</a>
  </p><br>

  <p th:if="${loginUser}">
  <div th:each="userInfo,stat:${loginUser}">
    <tr>
      ログイン中のユーザー
      [[${loginUser.name}]] [[${loginUser.role}]]
    </tr>
  </div>

  <form action="/modify/nameChange" method="post">
    <input type="hidden" name="number" th:value="${loginUser.number}" />
    <input type="text" id="username" name="username" class="form-control" placeholder="ユーザ名">
    <input type="submit" value="名前変更" />
  </form><br>

  <p th:if="${changeMessage}">
    [[${changeMessage}]]
  </p>
  </p>

  <tbody sec:authorize="hasRole('ROLE_ADMIN')">
    <p th:if="${userInfo}">
      ユーザー一覧
    <table border="1">
      <thead>
        <th>ユーザー番号</th>
        <th>ユーザー名</th>
        <th>ロール名</th>
        <th>最終ログイン日時</th>
        <th>処理</th>
      </thead>
      <tr th:each="userInfo,stat:${userInfo}">
        <td>[[${userInfo.number}]]</td>
        <td>[[${userInfo.name}]]</td>
        <td>[[${userInfo.role}]]</td>
        <td>[[${userInfo.date}]]</td>
        <td>
          <form action="/modify/deleteUser" method="post">
            <input type="hidden" name="number" th:value="${userInfo.number}" />
            <input type="submit" value="削除">
          </form>
        </td>
      <tr>
    </table>
    </p>

    <p th:if="${errorMessage}">
      [[${errorMessage}]]
    </p>

    <p th:if="${deleteUserInfo}">
    <div th:each="deleteUserInfo,stat:${deleteUserInfo}">
      <tr>
        [[${deleteUserInfo.number}]] [[${deleteUserInfo.name}]] [[${deleteUserInfo.role}]]
        <br>削除しました
      </tr>
    </div>
    </p>
  </tbody>

  <tbody sec:authorize="hasRole('ROLE_MASTER')">
    ADMINロールを所持する管理者を追加します、ユーザー名とパスワードを入力してください
    <form action="/modify/addAdmin" method="post">
      ユーザー名
      <input type="text" id="username" name="username" class="form-control" placeholder="ユーザ名"><br>
      パスワード
      <input type="password" id="password" name="password" class="form-control" placeholder="パスワード"><br>
      <input type="submit" value="登録" />
    </form>

    <p th:if="${adminUserInfo}">
      ユーザー一覧
    <table border="1">
      <thead>
        <th>ユーザー番号</th>
        <th>ユーザー名</th>
        <th>ロール名</th>
        <th>最終ログイン日時</th>
        <th>処理</th>
      </thead>
      <tr th:each="userInfo,stat:${userInfo}">
        <td>[[${userInfo.number}]]</td>
        <td>[[${userInfo.name}]]</td>
        <td>[[${userInfo.role}]]</td>
        <td>[[${userInfo.date}]]</td>
        <td>
          <form action="/modify/deleteUser" method="post">
            <input type="hidden" name="number" th:value="${userInfo.number}" />
            <input type="submit" value="削除">
          </form>
        </td>
      <tr>
      <tr th:each="adminUserInfo,stat:${adminUserInfo}">
        <td>[[${adminUserInfo.number}]]</td>
        <td>[[${adminUserInfo.name}]]</td>
        <td>[[${adminUserInfo.role}]]</td>
        <td>[[${adminUserInfo.date}]]</td>
        <td>
          <form action="/modify/deleteAdmin" method="post">
            <input type="hidden" name="number" th:value="${adminUserInfo.number}" />
            <input type="submit" value="削除">
          </form>
        </td>
      <tr>
    </table>
    </p>

    <p th:if="${errorMessage}">
      [[${errorMessage}]]
    </p>

    <p th:if="${deleteUserInfo}">
    <div th:each="deleteUserInfo,stat:${deleteUserInfo}">
      <tr>
        [[${deleteUserInfo.number}]] [[${deleteUserInfo.name}]] [[${deleteUserInfo.role}]]
        <br>削除しました
      </tr>
    </div>
    </p>
  </tbody>

</body>

</html>
